.section__albums {
  background-color: #000;
  padding: 8.6rem 0;
}

.albums__heading {
  font-size: 12rem;
  color: #fff;
  text-align: center;
  margin-bottom: 16rem;
}
.albums__container {
  display: flex;
  justify-content: center;
}
.albums__album {
  width: 50rem;
}

.albums__image {
  width: 100%;
}
